<div class="container">

<h2>Registro</h2>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(email.value, user.value, password.value)">

<div>
  <label for="email">
    Email
  </label>
  <input id="email" type="text" formControlName="email" #email>
</div>

<div>
  <label for="user">
    Usuario
  </label>
  <input id="user" type="text" formControlName="user" #user>
</div>

<div>
  <label for="password">
    Contraseña
  </label>
  <input id="password" type="password" formControlName="password" #password>
</div>

<button class="button" type="submit">Enviar</button>

</form>

</div>